@import "node_modules/materialize-css/sass/materialize.scss";

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 testing commmit- nada nuevo en realidad
 */

nav {
  height: 100px;
  line-height: 100px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.navbar-fixed {
  height: 100px;
}


.brand-logo {
  margin: 15px 0;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 100px;
    line-height: 100px; }
  .navbar-fixed {
    height: 100px; } }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.footer-social
  li {
    float:left; padding-right: 20px;
    &:last-child { padding: 0;}
  }
