html
  head
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='app.css')
    
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')

  body
    div.navbar-fixed
      nav#main-nav.white(role='navigation')
        .nav-wrapper.container
          a#logo-container.brand-logo(href='#') Chevere Club Creativo
          ul.right.hide-on-med-and-down
            li
              a(href='#') Inicio
            li
              a(href='#') Club
            li
              a(href='#socios') Socios
            li
              a(href='#services') Servicios
            li
              a(href='#') Proyectos
            li
              a(href='#') Contacto
          ul#nav-mobile.side-nav
            li
              a(href='#') Inicio
            li
              a(href='#') Club
            li
              a(href='#') Socios
            li
              a(href='#') Servicios
            li
              a(href='#') Proyectos
            li
              a(href='#') Contacto
          a.button-collapse(href='#', data-activates='nav-mobile')
            i.material-icons menu
    
    .parallax-container.valign-wrapper
      .section.no-pad-bot
        .container
          .row.center
            h5.header.col.s12.light Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .row.center
            a#download-button.btn-large.waves-effect.waves-light.teal.lighten-1(href='#') Conocenos
      .parallax
        img(src='background3.jpg', alt='Unsplashed background img 3')

    .container
      .section
        .row
          .col.sm12.col-md-4
            h3
              i.mdi-content-send.brown-text
            h4 Club
            p.left-align.light
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae

    #services.container
      .section
        // Services Section
        .row
          h3
            i.mdi-content-send.brown-text
          h4 Servicios
          .col.s12.m3
            .icon-block
              h2.center.brown-text
                i.material-icons flash_on
              h5.center Diseño gráfico y digital
              p.light
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

          .col.s12.m3
            .icon-block
              h2.center.brown-text
                i.material-icons group
              h5.center Fotografía / Video
              p.light
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

          .col.s12.m3
            .icon-block
              h2.center.brown-text
                i.material-icons settings
              h5.center Marketing / Desarrollo
              p.light
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

          .col.s12.m3
            .icon-block
              h2.center.brown-text
                i.material-icons settings
              h5.center Arquitectura comercial / publicitaria
              p.light
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    footer.page-footer.teal
      .container
        .row
          .col.l6.s12
            h5.white-text Lorem Ipsum
            p.grey-text.text-lighten-4
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

          .col.l3.s12
            h5.white-text Sede
            ul
              li.white-text(href='#!') Las Heras 86, Bernal,
              li.white-text(href='#!') Buenos Aires, Argentina.
              li
                a.white-text(href='#!') hola@chevere.club
              li.white-text(href='#!') +54 11 20068718

          .col.l3.s12
            h5.white-text Social
            ul
              li
                a.white-text(href='https://www.facebook.com/https://www.facebook.com/chevereclubcreativo')
                  i.small.fa.fa-facebook-square.white-text
                  | Facebook
              li
                a.white-text(href='https://www.instagram.com/chevere.club')
                  i.small.fa.fa-instagram-square.white-text
                  | Instagram

              li
                a.white-text(href='https://twitter.com/cheverecc')
                  i.small.fa.fa-twitter-square.white-text
                  | Twitter

              li
                a.white-text(href='https://www.linkedin.com/company/chevere-arte')
                  i.small.fa.fa-linkedin-square.white-text
                  | Linkedin
          
      .footer-copyright
        .container
          | ©2016 
          a.brown-text.text-lighten-3(href='#') Chevere Club Creativo


    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
    script(type='application/javascript' src='app.js')